doctype html
html
  head
    title= title
    link(href='https://fonts.googleapis.com/css?family=Pacifico|Righteous' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
  body
    div#main
      h1#title #{title} <a href="/"><i class="fa fa-home"></i></a>
      p
        i(class="fa fa-calendar")
        pre #{calString}
      div#datePicker
        label Year
        input#year(type='number' min='1753' max='9999' placeholder='#{new Date().getFullYear()}')
        br
        label Month
        input#month(type='number' min='1' max='12' placeholder='#{new Date().getMonth() + 1}')

        p#dateSubmit Submit



    script(src='/vender/jquery/dist/jquery.min.js')
    script(src='/scripts/client.js')